<!DOCTYPE html>
<html>
    <head>
        <title>Zombie Hour</title>
        <%= stylesheet_link_tag "main", "fonts/stylesheet" %>
        <%= javascript_include_tag "jquery", "rails", "application" %>
        <%= csrf_meta_tag %>
    </head>
    <body>
		<div class="title">
            <h1><%= link_to "The Zombie Hour", root_path %></h1>
            <div id="sys_nav">
                <% if user %>
                    <%= link_to "Logout", logout_path %>
                <% else %>
                    <%= form_tag(login_path) do -%>
                        Login:
                        <%= text_field_tag :login %>
                        Password:
                        <%= password_field_tag :password %>
                        <%= submit_tag 'Login' %>
                    <% end -%>
                    <%= link_to "Sign Up", signup_path %>
                <% end %>
            </div>
        </div>
        <div><div id="main">

            <% if flash[:alert] %>
                <p class="flash-error"><%= flash[:alert] %></p>
            <% end %>
            <% if flash[:notice] %>
                <p class="flash-notice"><%= flash[:notice] %></p>
            <% end %>

            <%= yield %>

        </div></div>
    </body>
</html>
